* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("assets/9d351d8c-57ad-49a2-8423-bd9c542b7cda.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}